type project
owners
    theburningmonk
authors 
    theburningmonk
projectUrl
    http://github.com/theburningmonk/exercises-in-programming-style-fsharp
iconUrl
    https://raw.githubusercontent.com/theburningmonk/exercises-in-programming-style-fsharp/master/docs/files/img/logo.png
licenseUrl
    http://github.com/theburningmonk/exercises-in-programming-style-fsharp/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    F# port of the examples in \"Exercises in Programming Style\"
description
    Description not set


